<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <form>
                <div class="mb-3">
                    <label for="exampleInputName" class="form-label">Name</label>
                    <input type="text" class="form-control" id="exampleInputName">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail2" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword2" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword2">
                </div>
                <div class="mb-3">
                    <label for="exampleInputConfirmPassword" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" id="exampleInputConfirmPassword">
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
                <p>Already Registered? <a href="/login" class="btn btn-danger">Login Here</a></p>
            </form>
        </div>
    </div>
</div>
